body {
	margin: 0;
	background: #f0f0f0;
	color: rgb(46, 46, 46);
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.Login {
	text-align: center;
}

.App {
	margin: 0 auto;
	/* temp max width */
	max-width: 640px;
	padding-bottom: 6em;
}
.logo {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 0.5em;
}
.logo a {
	color: #000;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 2;
}
nav ul {
	list-style: none;
	padding: 0.4em 0 0.2em 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}
nav ul li {
	text-align: center;
}
nav .fas {
	display: block;
	font-size: 20px;
}
nav ul li a, .logout {
	cursor: pointer;
}
nav ul li a, .logout, .userName, .time {
	text-decoration: none;
	font-size: 12px;
	font-family: unset;
	color: #000;
}
nav .active {
	color: #7080a0;
}
.userName {
	float: right;
}
.articleList {
	list-style: none;
	margin: 0;
	padding: 0;
}
.SingleArticleSummary {
	border-bottom: 1px solid #000;
	padding: 0;
	margin: 0;
}
h1 {
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
}
h2 {
	margin: 0;
	font-size: 1.2em;
	font-weight: 400;
}
.SingleArticleSummary p {
	margin: 0 0 1em 0;
}
a {
	text-decoration: none;
	color: #000;
}
.tags {
	font-size: 0.8em;
}
.delete {
	cursor: pointer;
	color: red;
	padding-left: 10px;
}

.MainDisplayArea {
	margin: 0 0.5em;
	padding: 0;
}
.CreateArticle h1 {
	margin-bottom: 0.5em;
}
.CreateArticle input,
.CreateArticle textarea,
.CreateArticle button,
.search input,
.createComment textarea,
.createComment button {
	padding: 0.5em;
	border: 1px solid #000;
	border-radius: 8px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	display: block;
}
.CreateArticle input,
.CreateArticle textarea,
.search input,
.createComment textarea {
	width: 90%;
	width: calc(100% - 1em - 2px);
	margin: 0 0 1.5em 0;
}
.CreateArticle textarea, .createComment textarea {
	width: 90%;
	width: calc(100% - 1em - 2px);
	resize: none;
	height: 12em;
}
.createComment textarea {
	height: 8em;
	margin-top: 3em;
}
.CreateArticle button, .createComment button {
	cursor: pointer;
	float: right;
	clear: both;
}
.CreateArticle button:hover {
	background: #c0c0c0;
}
.tag-cloud {
	text-align: center;
}
.search input {
	margin-top: 0.5em;
}

.listCommentsWrap {
	list-style: none;
	margin: 0;
	padding: 0;
}
.listCommentsWrap li {
	margin: 0 0 1em 0;
	padding: 0;
	border-top: 1px dashed rgba(0, 0, 0, 0.247);
}