body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.App {
	margin: 0 auto;
	max-width: 640px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: stretch;
	justify-content: space-between;
}


nav ul li {
	margin: 0;
	padding: 15px 15px 10px 0;
}
nav ul li:last-child {
	text-align: right;
	padding: 15px 0 10px 0;
}
.postList {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
.postListItem h1 {
	margin: 0;
}
.postListItem .post {
	display: block;
	margin: 0.5em 0;
	padding: 0 0 1em 0;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.postListItem .information {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 2em 0;
	padding: 0;
}

.postListItem .information .userName {
	display: block;
}
.postListItem .information .delete {
	cursor: pointer;
}

.addPost textarea, .addPost input, .addPost button  {
	display: block;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0.5em 0;
	padding: 1em;
}
.addPost textarea {
	width: calc(100% - 0.25em);
	height: 5em;
}
.addPost input {
	height: 1.5em;
}
.addPost button {
	display: inline-block;
	width: 50%;
}